:root {
  --primary-blue: #0d6efd;
  --danger-red: #dc3545;
  --cyan: #0dcaf0;
  --gray-400: #ced4da;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

.header {
  color: #a020f0;
}

#carousel-caption {
  text-shadow: 3px 3px 1px black;
}

#root,
#root > div {
  height: 100vh;
  width: 100vw;
}

.bet-input {
  max-width: 100px;
}

.bet-window {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 175px;
}

.blackjack-table {
  width: 240px;
  height: 240px;
  background-color: #008000;
  background-image: radial-gradient(#006400 15%, transparent 15%),
    radial-gradient(#006400 15%, transparent 15%);
  background-size: 9px 9px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
  border-bottom: 40px solid #2f1000;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 90%;
  flex-grow: 1;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.winnings-window {
  text-align: center;
  width: 175px;
}

@media screen and (min-width: 768px) {
  .bet-window {
    margin: 1.5rem;
  }

  .button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
  }

  .card-image {
    height: 140px;
    width: 100px;
  }

  .hand-total {
    font-size: 1.2rem;
    padding: 15px;
  }

  .winnings-window {
    margin: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .card-image {
    height: 105px;
    width: 75px;
  }

  .chips-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hand-total {
    font-size: 0.8rem;
    padding: 10px;
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .card-image {
    height: 70px;
    width: 50px;
  }

  .hand-total {
    font-size: 0.6rem;
    padding: 5px;
  }
}

.rules {
  max-height: 350px;
}

#jumbo_h1 {
  width: 30rem;
}

.scrollbar {
  overflow-y: scroll;
}

.home_image {
  filter: grayscale(30%) blur(1px);
  max-width: 100%;
  height: auto;
}

.row-cards {
  background-color: transparent;
  text-align: center;
  perspective: 1000px;
  min-width: 80%;
  justify-content: center;
  align-items: center;
}

a.nav-link {
  font-size: larger;
  color: var(--gray-900);
}

a.nav-link:hover {
  color: var(--gray-600);
  text-decoration: var(--danger-red) solid underline 4px;
}

.bottom-nav-link {
  position: fixed;
  bottom: 0.5rem;
}

a.bottom-nav-link {
  color: var(--gray-800);
  font-size: large;
}

a.bottom-nav-link:hover {
  color:var(--gray-600);
  text-decoration: var(--primary-blue) solid underline 4px;
}

text span {
  white-space: pre-wrap;
}

.card-container {
  background-color: transparent;
  height: 200px;
  width: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.flipped .card-front{
  transform: rotateY(180deg);
}

.flipped .card-back{
  transform: rotateY(0deg);
}

.notFlipped .card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.notFlipped  .card-back {
  transform: rotateY(-180deg);
}

.card-front, .card-back {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 6px var(--gray-400);
  position: absolute;
  border: var(--gray-900);
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 0.8s;
  transition: transform ease 0.8s;
}

.card-back {
  background-color: white;
  text-align: center;
}

.card-back h1, .card-back p {
  position: relative;
  text-align: center;
  top: 30%;
}

.card-front-img {
  height: 100%;
  width: 100%;
}